[*.cs]

# CS8601: Możliwe przypisanie odwołania o wartości null.
dotnet_diagnostic.CS8601.severity = none

# IDE0210: Konwertuj na instrukcje najwyższego poziomu
dotnet_diagnostic.IDE0210.severity = none
